* {
  font-family: Avenir Next !important;
}


.artists {
  margin-top: -5rem;
}

/* "Big three" (BT) stuff */
.bt-img {
   width:20rem;
   height:20rem;
   margin-top: 3rem;
   margin-bottom: 3rem;
}

.bt-title {
  margin-top: 7rem;
  margin-bottom: none;
}

.bt-description {
  margin-top: none;
  margin-bottom: none;
}

.bt-button {
  width: 130px;
  height: 33px;
  background-image: linear-gradient(to bottom, #d8d8d8, #b3b3b3);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #979797;
  border-radius: 2px;
}

.bt-button:hover {
  color: #FFFFFF;
}

.card {
    margin-bottom: 2.5rem;
    background: #fff;
    text-align: left;
    position:relative;
    border: 1px solid #dbe2e8;
    box-shadow: 0 2px 4px 0 rgba(46,61,73,0.12);
    border-radius: 0.25rem;
    transition: box-shadow 0.3s ease, border 0.3

}

.card-block {
  margin: none;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(46,61,73,0.12);
  border: 1px solid #bcc9d4;
}

.card-img-top {
  text-align: center;
  padding-top: 13px;
  width: 325px;
  height: 200px;
}

.card-text {
  text-align: left;
}

.center-block {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.discover-button {
  border: none .0625rem;
  background-color: linear-gradient(to bottom, #d8d8d8, #b3b3b3);
  border-radius: .2rem;
  color: #535353;
  margin: 1rem;
  transition: 0.3s ease;
}

.discover-button:hover {
  color: #ffffff;
}

.image {
  background-size: cover;
  height: 300px;
  background-color: lightgrey;
}

.info {
  margin-top: 1rem;
}

.jumbotron {
  background-image: url('../assets/img/banner2.png');
  background-size: cover;
  height: 57vh;
  margin-top: 4vh;
  background-repeat: no-repeat;
  background-position: center;
}

.logo {
  height: 36px;
  margin-top: 4.3vh;
  text-align: center;
}

.logo2 {
  height: 36px;
}

body {
  background-color: #f0f0f0;
  overflow-x: hidden;
}

footer {
  background-color: #f0f0f0;
  padding: 2.5rem 0;
  padding-top: 3rem;
  font-size: 1.2rem;
  text-align: center;
}

footer a {
  color: #535353;
  text-align:center;
}

footer a:hover {
  text-decoration: none;
}

h1 {
  text-align: center;
  width: 70%;
	font-size: 1.1rem;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #535353;
}

h2 {
	font-size: 0.7rem;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
  padding-bottom: 5px;
	color: #535353;
}

h3 {
  color: #535353;
	font-size: 2rem;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
  margin-top: 5rem;
}

h4 {
	font-size: 20px;
	font-weight: lighter;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #535353;
}

h5 {
  font-size: 20px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
}

#bannerLogo {
  height: 5rem;
  margin-bottom: 5rem;
}

#big-three-section {
  margin-top: 1rem;
  margin-bottom: 5rem;
}

#featured-artists {
  display: flex;
  align-items: center;
  text-align: center;
  color: #535353;
  margin-bottom: 6rem ;
}

@media only screen and (max-width: 48rem) {
  .jumbotron {
    height: 30vh;
    margin-top: 3vh;
  }
  .logo {
    margin-left: 1rem;
    margin-top: 5vh;
    height: 5vh;
  }
  .artists {
    margin-top: -4rem;
  }
  .bt-img {
     width:38vh;
     height:38vh;
     margin-top: 2rem;
     margin-bottom: 2rem;
     background-color: #535353;
     padding: 1px;
  }
  .bt-title {
    margin-top: 1rem;
  }
  .bt-button {
    margin-bottom: 3rem;
  }

  h3 {
    margin-top: 2rem;
  }

  #big-three-section {
    margin-bottom: 1rem;
  }
  #footerLinks {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
  }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */
